<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"><title>admin panel</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>

<!--heading-->
  <section id="intro">
    <div class="container-fluid" style="background-color: #343A40">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <div class="p-2 align-content-center" style="background-color: transparent; color: rgb(251,251,251); font-size: 22px">admin@mail.ru with roles: ADMIN USER</div>
        </div>
<!--        <div class="col-md-1">-->
<!--          <div class="d-xl-flex p-2 justify-content-end" style="background-color: transparent; font-size: 20px; color: rgb(154,149,135);" >Logout</div>-->
<!--        </div>-->
        <form class="col-md-1" th:action="@{/logout}" th:method = "POST">
          <input type = "submit" class="d-xl-flex p-2 justify-content-end" style="border: transparent; background-color: transparent; font-size: 20px; color: rgb(154,149,135);" value = "Logout" />
        </form>
      </div>
    </div>
  </section>
<!--heading-->

<!--main-->
    <section id="main">
      <div class="main-container d-flex">


        <!--navigation sidebar-->
        <div class="sidebar" id="side_nav">
          <div class="header-box py-2"></div>
          <ul class="nav">
            <li class="nav-pills">
              <button class="button button3 px-3 py-2 d-block active" data-bs-toggle="tab" id="admin-panel" type="button" data-bs-target="#adminpanel"
                 role="tab" aria-controls="admin-panel" aria-selected="true">Admin</button>
            </li>
            <li class="nav-pills">
              <button class="button button3 px-3 py-2 d-block" data-bs-toggle="tab" id="user-panel" type="button" data-bs-target="#userpanel"
                  role="tab" aria-controls="user-panel" aria-selected="true">User</button>
            </li>
          </ul>
          </div>
        <!--navigation sidebar-->


        <!--Admin Panel/User Info container-->
        <div class="tab-content" style="width: 100vw;">


          <!--Admin Panel-->
          <div class="tab-pane show active" role="tabpanel" id="adminpanel" aria-labelledby="admin">
            <div class="container-fluid" style="background-color: transparent">
              <div class="row justify-content-start" style="background-color: transparent; height: 100px;">
                <h1 class="px-5 py-4" style="font-size: 46px;">Admin panel</h1>
              </div>
              <div class="row justify-content-start px-5">
                <ul class="nav nav-tabs">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" id="users-table" type="button" data-bs-target="#userstable"
                            role="tab" aria-controls="users-table" aria-selected="true">User table</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" id="new-user" type="button" data-bs-target="#newuser"
                            role="tab" aria-controls="new-user" aria-selected="true">New User</button>
                  </li>
                </ul>
                <div class="tab-content" id="myTabControl">
                  <div class="tab-pane show active" role="tabpanel" id="userstable" aria-labelledby="users-table">
                    <div class="row justify-content-start" style="height: 50px">
                      <h1 class="d-flex align-items-xl-center" style="font-size: 20px; background-color: #F8F9FA; box-shadow: 0px 0px 0px 1px #D8D8D8 inset">All users</h1>
                    </div>
                    <div class="container" style="background-color: white">


                      <!--User Table-->
                      <table class="table table-striped" style="box-shadow: 0px 1px 0px #D8D8D8 inset;">
                        <h1 style="font-size: 4px"></h1>
                        <thead>
                          <tr>
                            <th scope="col">ID</th><th scope="col">Login</th><th scope="col">Email</th><th scope="col">Role</th><th scope="col">Edit</th><th scope="col">Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          <th:block th:each="user : ${usersList}"><tr>
                            <td th:text="*{user.getId()}">id</td>
                            <td th:text="${user.getUsername()}">username</td>
                            <td th:text="${user.getEmail()}">email</td>
                            <td th:text="${user.getRolesToString()}">role</td>
                            <td><button class="button button1" th:data-id="${user.getId()}" th:data-username="${user.getUsername()}" th:data-email="${user.getEmail()}" th:data-roles="${user.getRoles()}" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button></td>
                            <td><button th:href="@{/admin/delete/{id}(id=${user.getId()})}"  class="button button2" th:data-id="${user.getId()}" th:data-username="${user.getUsername()}" th:data-email="${user.getEmail()}" th:data-roles="${user.getRoles()}" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button></td>
                          </tr></th:block>
                        </tbody>
                      </table>
                      <!--User Table-->


                      <!-- Edit User Modal -->
                      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <form class="container" th:method = "PATCH"
                              th:action = "@{/admin/edit}"
                              th:object="${user}" style="width: 400px">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                              <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              </br>
                              <div class="form-group">
                                <label class="d-flex justify-content-center" for="idE" style="font-weight: bold;">ID</label>
                                <input type="text" readonly class="form-control" id="idE" name="id" style="background-color: #E9ECEF">
                              </div>
                              </br>
                              <div class="form-group">
                                <label class="d-flex justify-content-center" for="usernameE" style="font-weight: bold">Username</label>
                                <input type="text" class="form-control" id="usernameE" name="username">
                              </div>
                              </br>
                              <div class="form-group">
                                <label class="d-flex justify-content-center" for="emailE" style="font-weight: bold">Email</label>
                                <input type="email" class="form-control" id="emailE" name="email">
                              </div>
                              </br>
                              <div class="form-group">
                                <label class="d-flex justify-content-center" for="passwordE" style="font-weight: bold">Password</label>
                                <input type="password" class="form-control" id="passwordE" name="password" placeholder="password">
                              </div>
                              </br>
                              <div class="form-group">
                                <label class="d-flex justify-content-center" for="roleE" style="font-weight: bold">Role</label>
                                <select multiple="multiple" th:name="roles" class="form-control" id="roleE" style="height: 60px;">
                                  <option id="selectUserE" th:value="${role_user}">USER</option>
                                  <option id="selectAdminE" th:value="${role_admin}">ADMIN</option>
                                </select>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                          </div>
                        </div>
                        </form>
                      </div>
                      <!-- Edit User Modal -->


                      <!-- Delete User Modal -->
                      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                              <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form class="container" style="width: 400px">
                                </br>
                                <div class="form-group">
                                  <label class="d-flex justify-content-center" for="idD" style="font-weight: bold;">ID</label>
                                  <input type="text" class="form-control" id="idD" placeholder="id" readonly style="color: #636E7A; background-color: #E9ECEF">
                                </div>
                                </br>
                                <div class="form-group">
                                  <label class="d-flex justify-content-center" for="usernameD" style="font-weight: bold">Username</label>
                                  <input type="text" class="form-control" id="usernameD" placeholder="username"readonly style="color: #636E7A; background-color: #E9ECEF">
                                </div>
                                </br>
                                <div class="form-group">
                                  <label class="d-flex justify-content-center" for="emailD" style="font-weight: bold">Email</label>
                                  <input type="email" class="form-control" id="emailD" placeholder="email" readonly style="color: #636E7A;background-color: #E9ECEF">
                                </div>
                                </br>
                                <div class="form-group">
                                  <label class="d-flex justify-content-center" for="roleD" style="font-weight: bold">Role</label>
                                  <select multiple class="form-control" id="roleD" disabled="disabled" style="height: 60px; color: #636E7A; background-color: #E9ECEF">
                                    <option id="selectUser">USER</option>
                                    <option id="selectAdmin">ADMIN</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <a href="" id="deleteConfirm" class="btn button2">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Delete User Modal -->


                    </div>
                  </div>
                  <div class="tab-pane show" role="tabpanel" id="newuser" aria-labelledby="new-user">
                    <div class="row justify-content-start" style="height: 50px">
                      <h1 class="d-flex align-items-xl-center" style="font-size: 20px; background-color: #F8F9FA; box-shadow: 0px 0px 0px 1px #D8D8D8 inset;">Add new user</h1>
                    </div>


                    <!--New User Form-->
                    <form class="container" th:method="POST" th:action="@{/admin/new}" th:object="${user}" style="width: 400px">
                      </br>
                      <div class="form-group">
                        <label class="d-flex justify-content-center" for="usernameN" style="font-weight: bold">Username</label>
                        <input type="text" class="form-control frm is-valid" id="usernameN" th:field="*{username}" placeholder="enter username">
                      </div>
                      </br>
                      <div class="form-group">
                        <label class="d-flex justify-content-center" for="emailN" style="font-weight: bold">Email</label>
                        <input type="email" class="form-control" id="emailN" th:field="*{email}" placeholder="enter email">
                      </div>
                      </br>
                      <div class="form-group">
                        <label class="d-flex justify-content-center" for="passwordN" style="font-weight: bold">Password</label>
                        <input type="password" class="form-control" id="passwordN" th:field="*{password}" placeholder="enter password">
                      </div>
                      </br>
                      <div class="form-group">
                        <label class="d-flex justify-content-center" for="roleN" style="font-weight: bold">Role</label>
                        <select multiple="multiple" th:name="roles" class="form-control" id="roleN" style="height: 60px;">
                          <option th:value="${role_user}">USER</option>
                          <option th:value="${role_admin}">ADMIN</option>
                        </select>
                      </div>
                      </br>
                      <div class="button d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Add new user</button>
                      </div>
                      </br>
                    </form>
                    <!--New User Form-->


                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--Admin Panel-->

        <!--User Panel-->
          <div class="tab-pane show" role="tabpanel" id="userpanel" aria-labelledby="user">
              <div class="container-fluid" style="background-color: transparent">
                <div class="row justify-content-start" style="background-color: transparent; height: 100px;">
                  <h1 class="px-5 py-4" style="font-size: 46px;">User information-page</h1>
                </div>
                <div class="row" style="background-color: transparent">
                  <div class="container" style="padding-right: 50px; padding-left: 50px ">
                    <header class="px-2 py-1 " style="background-color: #F8F9FA; box-shadow: 0px 0px 0px 1px #D8D8D8 inset;
                      border-top-left-radius: 4px; border-top-right-radius: 4px"><h1 style="font-size: 20px; padding-top: 5px">About user</h1></header>
                    <div class="container-fluid" style="padding: 20px; background-color: white; box-shadow: 0px 0px 0px 1px #D8D8D8 inset">
                      <table class="table table-striped" style="box-shadow: 0px 1px 0px #D8D8D8 inset;">
                        <h1 style="font-size: 4px"></h1>
                        <thead>
                        <tr>
                          <th scope="col">ID</th><th scope="col">Login</th><th scope="col">Email</th><th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block><tr>
                          <td th:text="${admin.getId()}">id</td>
                          <td th:text="${admin.getUsername()}">username</td>
                          <td th:text="${admin.getEmail()}">email</td>
                          <td th:text="${admin.getRolesToString()}">role</td>
                        </tr></th:block>
                        </tbody>
                      </table>
                      </br>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        <!--User Panel-->

        <!--Admin/User container-->




        </div>
      </div>
    </section>
<!--main-->

<script>
  $('.button2').click(function () {
    var $modal = $('#deleteModal')
    var $btn = $(this);
    $('#idD').val($btn.attr('data-id'));
    $('#usernameD').val($btn.attr('data-username'));
    $('#emailD').val($btn.attr('data-email'));
    var roles = $btn.attr('data-roles');
    if (roles.includes("ROLE_USER")) {
      $('#selectUser').attr('selected', "selected")
    } else {
      $('#selectUser').attr('selected', false)
    }
    if (roles.includes("ROLE_ADMIN")) {
      $('#selectAdmin').attr('selected', "selected");
    } else {
      $('#selectAdmin').attr('selected', false)
    }
    $('#deleteConfirm').attr('href', $btn.attr('href'));
  });
</script>

<script>
  $('.button1').on('click',function () {
    var $btn = $(this);
    var href = $btn.attr('href');
    $('#idE').val($btn.attr('data-id'));
    $('#usernameE').val($btn.attr('data-username'));
    $('#emailE').val($btn.attr('data-email'));
    var roles = $btn.attr('data-roles');
    if (roles.includes("ROLE_USER")) {
      $('#selectUserE').attr('selected', "selected")
    } else {
      $('#selectUserE').attr('selected', false)
    }
    if (roles.includes("ROLE_ADMIN")) {
      $('#selectAdminE').attr('selected', "selected");
    } else {
      $('#selectAdminE').attr('selected', false)
    }
  });
</script>

<script>

</script>

</body>
</html>