<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"><title>admin panel</title>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>

<!--heading-->
  <section id="intro">
    <div class="container-fluid" style="background-color: #343A40">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <div class="p-2 align-content-center" style="background-color: transparent; color: rgb(251,251,251); font-size: 22px">admin@mail.ru with roles: ADMIN USER</div>
        </div>
        <div class="col-md-1">
          <div class="d-xl-flex p-2 justify-content-end" style="background-color: transparent; font-size: 20px; color: rgb(154,149,135);">Logout</div>
        </div>
      </div>
    </div>
  </section>
<!--heading-->

<!--main-->
    <section id="main">
      <div class="main-container d-flex">

        <!--navigation bar-->
        <div class="sidebar" id="side_nav">
          <div class="header-box py-2"></div>
          <ul class="list-unstyled">
            <li class="active"><a href="#" class="text-decoration-none px-3 py-2 d-block">Admin</a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block">User</a></li>
          </ul>
        </div>
        <!--navigation bar-->

        <!--Admin Panel heading-->
        <div class="container-fluid" style="background-color: transparent">
          <div class="row justify-content-start" style="background-color: transparent; height: 100px;">
            <h1 class="px-5 py-4" style="font-size: 46px;">Admin panel</h1>
          </div>
          <div class="row justify-content-start px-5">
            <ul class="nav nav-tabs">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" id="users-table" type="button" data-bs-target="#userstable"
                        role="tab" aria-controls="users-table" aria-selected="true">User table</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" id="new-user" type="button" data-bs-target="#newuser"
                        role="tab" aria-controls="new-user" aria-selected="true">New User</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabControl">
              <div class="tab-pane show active" role="tabpanel" id="userstable" aria-labelledby="users-table">
                <div class="row justify-content-start" style="height: 50px">
                  <h1 class="d-flex align-items-xl-center" style="font-size: 20px; background-color: #F8F9FA; box-shadow: 0px 0px 0px 1px #D8D8D8 inset;">All users</h1>
                </div>
                <div class="container" style="background-color: white">
                  <table class="table table-striped" style="box-shadow: 0px 1px 0px #D8D8D8 inset;">
                    <h1 style="font-size: 4px"></h1>
                    <thead>
                      <tr>
                        <th scope="col">ID</th><th scope="col">Login</th><th scope="col">Email</th><th scope="col">Role</th><th scope="col">Edit</th><th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><th scope="row">1</th><td>Mark</td><td>Otto</td><td>@mdo</td><td><button class="button button1">Edit</button></td><td><button class="button button2">Delete</button></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th><td>Jacob</td><td>Thornton</td><td>@fat</td><td>@mdo</td><td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th><td>Larry</td><td>the Bird</td><td>@twitter</td><td>@mdo</td><td>@mdo</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane show" role="tabpanel" id="newuser" aria-labelledby="new-user">
                <div class="row justify-content-start" style="height: 50px">
                  <h1 class="d-flex align-items-xl-center" style="font-size: 20px; background-color: #F8F9FA; box-shadow: 0px 0px 0px 1px #D8D8D8 inset;">Add new user</h1>
                </div>
                <form class="container" style="width: 400px">
                  </br>
                  <div class="form-group">
                    <label class="d-flex justify-content-center" for="username" style="font-weight: bold">Username</label>
                    <input type="text" class="form-control frm is-valid" id="username" placeholder="enter username">
                  </div>
                  </br>
                  <div class="form-group">
                    <label class="d-flex justify-content-center" for="email" style="font-weight: bold">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="enter email">
                  </div>
                  </br>
                  <div class="form-group">
                    <label class="d-flex justify-content-center" for="email" style="font-weight: bold">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="enter password">
                  </div>
                  </br>
                  <div class="form-group">
                    <label class="d-flex justify-content-center" for="role" style="font-weight: bold">Role</label>
                    <select multiple class="form-control" id="role" style="height: 60px">
                      <option>USER</option>
                      <option>ADMIN</option>
                    </select>
                  </div>
                  </br>
                  <div class="button d-flex justify-content-center">
                    <button type="button" class="btn btn-success">Add new user</button>
                  </div>
                  </br>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!--Admin Panel heading-->

<!--        <nav class="navbar navbar-expand-lg" id="top_nav">-->
<!--          <ul class="navbar-nav">-->
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" style="height: 40px" href="#">User table</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">New User</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </nav>-->




      </div>
    </section>
<!--main-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <script>
    $(".sidebar ul li").on('click', function(){
      $(".sidebar ul li.active").removeClass('active');
      $(this).addClass('active');
    })
  </script>
  <script>
    $(".navbar ul li").on('click', function(){
      $(".navbar ul li.active").removeClass('active');
      $(this).addClass('active');
    })
  </script>
</body>
</html>